@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	line-height: 1.5;
	font-weight: 400;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: 'Inter', sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	font-variation-settings: 'slnt' 0;
}

@layer base {
	body {
		@apply bg-zinc-950 text-neutral-200;
	}
	h1 {
		@apply text-3xl font-bold text-center hover:border hover:border-white hover:rounded
	}
}

.container { 
	width: 100%;
	max-width: 1440px;
	padding: 0 1rem;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

@layer components {
	.btn-primary {
	  @apply p-4 bg-cyan-500 hover:bg-cyan-400 font-medium hover:font-bold text-white rounded-lg border border-white;
	}
	.btn-disable {
		@apply p-4 bg-cyan-700 font-medium text-gray-200 rounded-lg;
	  }
	.primary-container {
	  @apply flex items-center bg-sky-600 rounded-2xl p-2 flex-col min-w-[500px] m-4 hover:border hover:border-white;
	}
	.main-container {
		@apply p-4 pb-10 min-h-[100vh] flex items-center justify-center container max-w-screen-lg mx-auto;
	}
	.sub-container {
		@apply flex items-center flex-col my-4;
	}
	.header-p {
		@apply text-2xl font-bold text-center;
	}
	.header-p-l2 {
		@apply font-bold text-center;
	}
	.warning-p {
		@apply text-yellow-500 selection:bg-fuchsia-300 selection:text-fuchsia-900 font-bold;
	}
	.rounded-rectangle {
		@apply rounded-lg p-2 border border-white;
	  }
}

/* visited link */
a {
	color: aqua;
	text-decoration: underline;
}

/* mouse over link */
a:hover {
	color: hotpink;
}